<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.clementleetimfu.educationmanagementsystem.mapper.DepartmentMapper">

    <select id="selectAllDepartment" resultMap="selectAllDepartmentResultMap">
        select id, name, update_time
        from department
        where is_deleted = 0
        order by update_time desc
    </select>

    <resultMap id="selectAllDepartmentResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.dto.department.DepartmentFindAllDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <update id="deleteDepartmentById">
        update department
        set is_deleted = 1
        where id = #{id}
        and is_deleted = 0
    </update>

    <insert id="insertDepartment">
        INSERT INTO department (name, create_time, update_time, is_deleted)
        VALUES (#{name}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>

    <select id="selectDepartmentById" resultMap="selectDepartmentByIdResultMap">
        select id, name
        from department
        where id = #{id}
        and is_deleted = 0
    </select>

    <resultMap id="selectDepartmentByIdResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.dto.department.DepartmentFindByIdDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <update id="updateDepartmentName">
        UPDATE department
        set name = #{name}, update_time = #{updateTime}
        where id = #{id}
        and is_deleted = 0
    </update>

</mapper>