<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.clementleetimfu.educationmanagementsystem.mapper.EmployeeMapper">

    <select id="searchEmployee" resultMap="searchResultMap">
        select
        e.id,
        e.name,
        e.gender,
        e.image,
        e.job_title,
        e.hire_date,
        e.update_time,
        d.name as dept_name
        from employee e
        left join department d
        on e.dept_id = d.id
        <where>
            e.is_deleted = 0
            and d.is_deleted = 0
            <if test="name != null and name != ''">
                and e.name like concat('%', #{name},'%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="startDate != null and endDate != null">
                and e.hire_date between #{startDate} and #{endDate}
            </if>
        </where>
        order by e.update_time desc
    </select>

    <resultMap id="searchResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.dto.employee.EmployeeSearchResponseDTO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="image" column="image"/>
        <result property="jobTitle" column="job_title"/>
        <result property="salary" column="salary"/>
        <result property="hireDate" column="hire_date"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <update id="deleteEmployeeByIds">
        update employee
        set is_deleted = 1
        where id in
        <if test="ids != null and ids.size() > 0">
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        and is_deleted = 0
    </update>

    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee
        ( image, username, name, gender, job_title, hire_date, dept_id,
        phone, salary, create_time, update_time, is_deleted
        )
        VALUES
        ( #{image}, #{username}, #{name}, #{gender}, #{jobTitle}, #{hireDate}, #{deptId},
        #{phone}, #{salary}, #{createTime}, #{updateTime}, #{isDeleted}
        )
    </insert>

    <select id="selectEmployeeById" resultMap="findEmployeeByIdResultMap">
        SELECT
        id,
        username,
        name,
        gender,
        job_title,
        salary,
        image,
        hire_date,
        dept_id,
        phone
        FROM employee
        WHERE is_deleted = 0
        AND id = #{id}
    </select>

    <select id="findWorkExperienceByEmpId"
            resultType="io.clementleetimfu.educationmanagementsystem.pojo.dto.workExperience.WorkExperienceFindByEmpIdDTO">
        SELECT
        company_name AS companyName,
        job_title AS jobTitle,
        start_date AS startDate,
        end_date AS endDate
        FROM work_experience
        WHERE is_deleted = 0
        AND emp_id = #{id}
        ORDER BY start_date DESC;
    </select>

    <resultMap id="findEmployeeByIdResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.dto.employee.EmployeeFindByIdDTO">

        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="jobTitle" column="job_title"/>
        <result property="hireDate" column="hire_date"/>
        <result property="deptId" column="dept_id"/>
        <result property="phone" column="phone"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>

        <collection property="workExpList"
                    column="id"
                    select="findWorkExperienceByEmpId"/>
    </resultMap>

    <update id="updateEmployee">
        UPDATE employee
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="name != null and username != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="jobTitle != null">job_title = #{jobTitle},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="phone != null and username != ''">phone = #{phone},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and username != ''">image = #{image},</if>
            <if test="updateTime != null">image = #{image},</if>
        </set>
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <select id="selectEmployeeByUsernameAndPassWord"
            resultType="io.clementleetimfu.educationmanagementsystem.pojo.dto.employee.LoginResponseDTO">
        SELECT id,
        username
        FROM employee
        WHERE is_deleted = 0
        AND username = #{username}
        AND password = #{password};
    </select>

    <select id="findEmployeeJobTitleCount" resultType="java.util.Map">
        SELECT
        CASE job_title
        WHEN 1 THEN 'Student Affairs Coordinator'
        WHEN 2 THEN 'Curriculum Specialist'
        WHEN 3 THEN 'Academic Advisor'
        WHEN 4 THEN 'Career Counselor'
        WHEN 5 THEN 'HR Manager'
        WHEN 6 THEN 'Administrative Officer'
        END AS jobTitle,
        COUNT(*) AS count
        FROM employee
        WHERE is_deleted = 0
        GROUP BY job_title
    </select>

    <select id="findEmployeeGenderCount" resultType="java.util.Map">
        SELECT
        CASE gender
        WHEN 1 THEN 'Male'
        WHEN 2 THEN 'Female'
        END AS gender,
        COUNT(*) AS count
        FROM employee
        WHERE is_deleted = 0
        GROUP BY gender
    </select>

</mapper>