<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.clementleetimfu.educationmanagementsystem.mapper.WorkExperienceMapper">

    <insert id="insertWorkExperienceByBatch">
        INSERT INTO work_experience (
        emp_id,
        start_date,
        end_date,
        company_name,
        job_title,
        create_time,
        update_time,
        is_deleted
        )
        VALUES
        <foreach collection="workExperienceList" item="workExperience" separator=",">
            (
            #{workExperience.empId},
            #{workExperience.startDate},
            #{workExperience.endDate},
            #{workExperience.companyName},
            #{workExperience.jobTitle},
            #{workExperience.createTime},
            #{workExperience.updateTime},
            #{workExperience.isDeleted}
            )
        </foreach>
    </insert>

    <update id="deleteWorkExperienceByEmpIds">
        UPDATE work_experience
        SET
        is_deleted = 1,
        update_time = NOW()
        WHERE
        is_deleted = 0
        <if test="ids != null and ids.size() > 0">
            AND emp_id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <select id="selectWorkExperienceCountByEmpIds" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM work_experience
        <where>
            is_deleted = 0
            <if test="ids != null and ids.size() > 0">
                AND emp_id IN
                <foreach collection="ids" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>