<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.clementleetimfu.educationmanagementsystem.mapper.ActivityLogMapper">

    <insert id="addActivityLog">
        INSERT INTO activity_log (
        operate_emp_id,
        operate_time,
        class_name,
        method_name,
        method_params,
        return_value,
        duration,
        create_time,
        update_time,
        is_deleted
        )
        VALUES (
        #{operateEmpId},
        #{operateTime},
        #{className},
        #{methodName},
        #{methodParams},
        #{returnValue},
        #{duration},
        #{createTime},
        #{updateTime},
        #{isDeleted}
        )
    </insert>

    <select id="findActivityLog" resultMap="findActivityLogResultMap">
        SELECT
        emp.username,
        al.operate_time,
        al.class_name,
        al.method_name,
        al.duration,
        al.method_params,
        al.return_value
        FROM activity_log AS al
        LEFT JOIN employee AS emp
        ON al.operate_emp_id = emp.id
        WHERE al.is_deleted = 0
        AND emp.is_deleted = 0
        ORDER BY al.operate_time DESC
    </select>

    <resultMap id="findActivityLogResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.vo.activityLog.FindActivityLogVO">
        <result column="username" property="operator"/>
        <result column="operate_time" property="operateTime"/>
        <result column="class_name" property="className"/>
        <result column="method_name" property="methodName"/>
        <result column="duration" property="duration"/>
        <result column="method_params" property="methodParams"/>
        <result column="return_value" property="returnValue"/>
    </resultMap>

</mapper>