<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.clementleetimfu.educationmanagementsystem.mapper.EmployeeMapper">

    <select id="searchEmployee" resultMap="searchResultMap">
        SELECT
        e.id,
        e.name,
        CASE e.gender
        WHEN 1 THEN 'Male'
        WHEN 2 THEN 'Female'
        END AS gender,
        e.image,
        jt.name AS jobTitle,
        e.hire_date,
        e.update_time,
        d.name AS deptName
        FROM employee e
        LEFT JOIN department d
        ON e.dept_id = d.id
        AND d.is_deleted = 0
        LEFT JOIN job_title jt
        ON e.job_title = jt.id
        AND jt.is_deleted = 0
        <where>
            e.is_deleted = 0

            <if test="name != null and name != ''">
                AND e.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null">
                AND e.gender = #{gender}
            </if>
            <if test="startDate != null and endDate != null">
                AND e.hire_date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY e.update_time DESC
    </select>

    <resultMap id="searchResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.vo.employee.EmployeeSearchVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="image" column="image"/>
        <result property="jobTitle" column="jobTitle"/>
        <result property="hireDate" column="hire_date"/>
        <result property="deptName" column="deptName"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <update id="deleteEmployeeByIds">
        UPDATE employee
        SET is_deleted = 1,
        update_time = NOW()
        WHERE is_deleted = 0
        <if test="ids != null and ids.size() > 0">
            AND id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee
        ( image, username, name, gender, job_title, hire_date, dept_id,
        phone, salary, create_time, update_time, is_deleted
        )
        VALUES
        ( #{image}, #{username}, #{name}, #{gender}, #{jobTitle}, #{hireDate}, #{deptId},
        #{phone}, #{salary}, #{createTime}, #{updateTime}, #{isDeleted}
        )
    </insert>

    <select id="selectEmployeeById" resultMap="findEmployeeByIdResultMap">
        SELECT
        id,
        username,
        name,
        gender,
        job_title,
        salary,
        image,
        hire_date,
        dept_id,
        phone
        FROM employee
        WHERE is_deleted = 0
        AND id = #{id}
        FOR UPDATE
    </select>

    <select id="findWorkExperienceByEmpId"
            resultType="io.clementleetimfu.educationmanagementsystem.pojo.vo.workExperience.WorkExperienceFindByEmpIdVO">
        SELECT
        company_name AS companyName,
        job_title AS jobTitle,
        start_date AS startDate,
        end_date AS endDate
        FROM work_experience
        WHERE is_deleted = 0
        AND emp_id = #{id}
        ORDER BY start_date DESC;
    </select>

    <resultMap id="findEmployeeByIdResultMap"
               type="io.clementleetimfu.educationmanagementsystem.pojo.vo.employee.EmployeeFindByIdVO">

        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="jobTitle" column="job_title"/>
        <result property="hireDate" column="hire_date"/>
        <result property="deptId" column="dept_id"/>
        <result property="phone" column="phone"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>

        <collection property="workExpList"
                    column="id"
                    select="findWorkExperienceByEmpId"/>
    </resultMap>

    <update id="updateEmployee">
        UPDATE employee
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="name != null and username != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="jobTitle != null">job_title = #{jobTitle},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="isFirstLogged != null and isFirstLogged != ''">is_first_logged = #{isFirstLogged},</if>
        </set>
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <select id="selectEmployeeByUsername"
            resultType="io.clementleetimfu.educationmanagementsystem.pojo.vo.auth.LoginVO">
        SELECT
        e.id,
        e.username,
        e.password,
        e.is_first_logged AS isFirstLogged,
        r.name AS roleName
        FROM
        employee e
        LEFT JOIN
        role r
        ON e.role_id = r.id
        AND r.is_deleted = 0
        WHERE
        e.is_deleted = 0
        AND e.username = #{username}
    </select>

    <select id="selectEmployeeJobTitleCount" resultType="java.util.Map">
        SELECT
        CASE job_title
        WHEN 1 THEN 'Student Affairs Coordinator'
        WHEN 2 THEN 'Curriculum Specialist'
        WHEN 3 THEN 'Academic Advisor'
        WHEN 4 THEN 'Career Counselor'
        WHEN 5 THEN 'HR Manager'
        WHEN 6 THEN 'Administrative Officer'
        END AS jobTitle,
        COUNT(*) AS count
        FROM employee
        WHERE is_deleted = 0
        GROUP BY job_title
    </select>

    <select id="selectEmployeeGenderCount" resultType="java.util.Map">
        SELECT
        CASE gender
        WHEN 1 THEN 'Male'
        WHEN 2 THEN 'Female'
        END AS gender,
        COUNT(*) AS count
        FROM employee
        WHERE is_deleted = 0
        GROUP BY gender
    </select>

    <select id="selectAllTeachers"
            resultType="io.clementleetimfu.educationmanagementsystem.pojo.vo.employee.EmployeeFindClassTeachersVO">
        SELECT
        e.id,
        e.name
        FROM
        employee e
        LEFT JOIN
        job_title jt
        ON e.job_title = jt.id
        AND jt.is_deleted = 0
        WHERE
        e.is_deleted = 0
        AND jt.name LIKE '%Class Teacher%'
        ORDER BY e.name;
    </select>

    <select id="selectEmployeeCountByDeptId" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM
        employee
        WHERE
        dept_id = #{deptId}
        AND is_deleted = 0;
    </select>

</mapper>